@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    
}

body {
    height: 100vh;
    display: flex;
    background-color: hsl(185, 41%, 84%);
    justify-content: center;
    align-items: center;

}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}


.title {
    position: absolute;
    letter-spacing: 0.5rem;
    top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    color: hsl(186, 14%, 43%);
}

.main-container {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 832.5px;
    height: 435px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    transition: ease all 400ms;
}
.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.calculator-content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 85%;
    background-color: white;
}
/* first label */
.calculator-content-wrapper label {
    color: hsl(184, 14%, 56%);
    font-weight: 700;
    font-size: .65rem;
    height: 1rem;
}

#dollar {
    height: 0.65rem;
    width: 0.5rem;
    position: absolute;
    top: 1.5rem;
    left: 10px;
}

#person-icon {
    height: 0.65rem;
    width: 0.5rem;
    position: absolute;
    left: 10px;
    top: 323px;
}

.calculator-content-wrapper input {
    background-color: hsl(189, 41%, 97%);
    border: none;
    text-align: right;
    width: 100%;
    height: 1.75rem;
    border-radius: 5px;
    outline-color: hsl(185, 41%, 84%);
    padding-right: 15px;
    color: hsl(183, 100%, 15%);
    font-weight: 700;
}

    

.calculator-content-wrapper p {
    color: hsl(184, 14%, 56%);
    font-weight: 700;
    margin-top: 1.5rem;
    font-size: .65rem;
    height: 1rem;
}
.percentagem-section-1, .percentagem-section-2 {
    margin-top: 0.55rem;
    justify-content: space-between;
    width: 99.5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: max-content;
    flex-direction: row;
}
.percentagem-section-1 input, .percentagem-section-2 input  {
    text-align: center;
    font-weight: 700;
    background-color: hsl(183, 100%, 15%) ;
    color: hsl(0, 0%, 100%);
    width: 31%;
    height: 1.75rem;
    border-radius: 5px;
    border: none;
    transition: 400ms;
    cursor: pointer;
    padding: 0;
}
.percentagem-section-2 input:hover,  .percentagem-section-1 input:hover {
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%) ;
}

#custom {
    text-transform: capitalize;
    background-color: hsl(189, 41%, 97%);
    color: hsl(184, 14%, 56%);
}

#custom:focus {
    text-align: right;
}

#custom:focus::placeholder {
    color: transparent;
}


.number-of-people-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.number-of-people-label {
    color: hsl(184, 14%, 56%);
    font-weight: 700;
    margin-top: 1.75rem;
    font-size: .65rem;
    margin-bottom: 7px;
}

#cant-be-zero {
    font-size: .6rem;
    color: rgba(255, 0, 0, 0.616);
    margin-bottom: 0;
    display: none;
}





.display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.display-content-wrapper {
    padding-top: 1rem;
    display: block;
    flex-direction: column;
    width: 85%;
    height: 85%;
    background-color: hsl(183, 100%, 15%) ;
    border-radius: 15px;
}

.tip-amount-and-total {
    width: 80%;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.tip-amount-and-total p {
    font-size: 12px;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
}

.tip-amount-and-total p > em {
    font: inherit;
    color: hsl(186, 14%, 43%);
}

#tip-amount-value, #total-value {
    font-size: 1.5rem;
    color: hsl(183, 91%, 30%) ;
    font-weight: 700;
    width: 65%;
    text-align: right;
    overflow: hidden;
}

#dollar-amount, #dollar-total {
    width: 1.3rem;
}






#btn-reset {
    background-color: hsl(183, 94%, 20%);
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 130px;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: hsl(183, 100%, 15%);
    border-radius: 3px;
    transition: 400ms;
    cursor: pointer;
}

#btn-reset:hover {
    background-color: hsl(185, 41%, 84%);
}





.attribution {
    display: none;
}


.colors {
color: hsl(183, 100%, 15%) ;
color: hsl(186, 14%, 43%);
color: hsl(184, 14%, 56%);
color: hsl(185, 41%, 84%);
color: hsl(189, 41%, 97%);
color: hsl(0, 0%, 100%);

}


@media screen and (max-width:720px) {
    body {
        display: flex;
        flex-direction: column;
        height: max-content;
    }
    .main-container {
        flex-direction: column;
        width: 100%;
        height: max-content;
        margin-top: 150px;
    }

    .calculator {
        width: 100%;
        height: max-content;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .display {
        width: 100%;
        height: 40vh;
        margin-bottom: 60px;
    } 

    #btn-reset {
        margin-top: 10px;
    }



}